<nav class="navbar is-dark" role="navigation" aria-label="main navigation">

  <!---Logo de Argentina Programa---------------------------------->
  <div class="navbar-brand">
    <a class="navbar-item-imagen" href="#"></a>
  </div>
  <!--------------------------------------------------------------->

  <div id="navbarRight" class="navbar-menu">
    <div class="navbar-end">

      <div class="navbar-item">
          <img src="https://cdn-icons-png.flaticon.com/512/20/20837.png" class="redes">
      </div>
      <div class="navbar-item">
          <img src="https://cdn-icons.flaticon.com/png/512/3661/premium/3661391.png?token=exp=1656018530~hmac=d55aa82d363556fcaf4d42e91f5b0cf1" class="redes">
      </div>
      <div class="navbar-item">
          <img src="https://cdn-icons.flaticon.com/png/512/3128/premium/3128219.png?token=exp=1656019772~hmac=dab2025404b130a90324a9a774aa517b" class="redes">
      </div>
      <div class="navbar-item">
          <img src="https://cdn-icons.flaticon.com/png/512/4926/premium/4926624.png?token=exp=1656019820~hmac=f37653a556d78fe774ab80ba91c6fce6" class="redes">
      </div>
      <div class="navbar-item">
          <img src="https://cdn-icons-png.flaticon.com/512/2111/2111341.png" class="redes">
      </div>

      <!---Botones del Login--------------------------------------->
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light is-outlined">
            <strong>Sign up</strong>
          </a>
          <a class="button is-warning is-outlined">
            <strong>Log in</strong>
          </a>
        </div>
      </div>
      <!--------------------------------------------------------------->

    </div>
  </div>
</nav>
